
body {
  background-image: url('@/assets/images/wood4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Arial, sans-serif';
}